/*IMPORTAR FUENTES*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");
/*********ESTILOS GENERALES***********/
/*Reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0 auto;
}
/* Section Hero */
.hero {
  width: 100%;
}
.hero__title {
  text-align: center;
  font-size: 64px;
}

/* Cart Page */

.cart_products {
  margin: 40px auto 80px auto;
}
.cart_product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  padding: 10px;
  width: 600px;
  background-color: #fcdef0;
  margin: 20px auto;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    padding: 20px 10px;
  }
}
.product__info {
  width: 360px;
  display: inline-block;
  margin-left: 10px;
}
.product__actions {
  margin-top: 20px;
}

.action__count {
  display: inline-block;
  margin-right: 20px;
}
.action__delete {
  display: inline-block;
  padding: 5px 20px;
  background-color: #f60505;
  color: f3f3f3;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -moz-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -ms-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
}
.action__delete:hover {
  background-color: #000;
  color: #f60505;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.action__placeorder {
  display: inline-block;
  width: fit-content;
  padding: 15px 20px;
  margin-left: 50%;
  background-color: #000;
  color: #f3f3f3;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -moz-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -ms-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
}
.action__placeorder:hover {
  background-color: #f3f3f3;
  color: #000;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/* estilos custom con bootstrap */

.btn-custom {
  background-color: #f9c6f2;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -moz-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -ms-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
}
.btn-custom:hover {
  background-color: #000;
  color: #f9c6f2;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.navbar-custom {
  background-color: #f9c6f2;
}

.dropdown-menu {
  background-color: #f9c6f2;
}

/* Estilo para la sección de agregar productos */
.add_product {
  display: block;
  width: 100%;
  max-width: 600px;
  margin:20px  auto 50px  auto;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.add_product h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}


.add_product__form label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.add_product__form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.add_product__form button, .add_product__form.button  {
  background-color: #f9c6f2;
  color: #000;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.add_product__form button:hover {
  background-color: #000;
  color: #f9c6f2;
}

.clean__cart {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 60px;
}


.btn__cleancart {
  background-color: #f9c6f2;
  padding: 50px;
  color: #000;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;

}